<dir>
    <div style="display: flex; flex-direction:row; align-items: center;">
        <a href="/chat"><button>Ir al Chat</button></a>
        <div style="margin-left: auto;">
            {{#if user}}
                <p>{{user.role}}: {{user.first_name}} {{user.last_name}} / {{user.email}}</p>
                <button style=" float: right;" id="logout-btn">Log Out</button>
            {{else}}
                <a href="/login"><button>Log In</button></a>
                <a href="/register"><button>Register</button></a>
            {{/if}}
        </div>
    </div>

    <h1 style="text-align: center;">Cart Detail</h1>
    {{#if cart}}
        <strong>Carrito Id: <strong id="cartid">{{cart._id}}</strong></strong>
        <p>Estas llevando:</p>
        <ul style="list-style: none;">
        {{#each cart.products}}
            <li>{{this.quantity}} unidades de {{this.product.title}} - Precio unitario: ${{this.product.price}}</li>
        {{/each}}
        </ul>
    {{else}}
        <p>El carrito no fue encontrado.</p>
    {{/if}}
    <a href="/products"><button>Ver todos los productos</button></a>
    <button id="purchaseCart">Finalizar Compra</button>
</dir>
<script src="../js/logout.js"></script>
<script src="../js/cartDetail.js"></script>