<div class="container">
    <div style="display: flex; flex-direction:row; gap: .3rem; align-items: center;">
        <button id="ViewCart">Ver Mi Carrito</button>
        <a href="/chat"><button>Ir al Chat</button></a>
        <a href="/"><button>Ir al Home</button></a>
        <a href="/products"><button>Buscar Productos</button></a>
        <a href="/realtimeProducts"><button>Ir a RealTimeProducts</button></a>
        <div style="margin-left: auto;">
            {{#if user}}
                <p>{{user.role}}: {{user.first_name}} {{user.last_name}} / {{user.email}}</p>
                <button style=" float: right;" id="logout-btn">Log Out</button>
            {{else}}
            {{/if}}
        </div>
    </div>
    <h1 class="register-title">Registro</h1>
    <div class="container-register">
        <form id="registerForm">
            <div class="form-grid">
                <label class="text-white">Nombre:</label>
                <input name="first_name">
                <label class="text-white">Apellido:</label>
                <input name="last_name">
                <label class="text-white">Email:</label>
                <input name="email">
                <label class="text-white">Edad:</label>
                <input name="age">
                <label class="text-white"   >Contraseña:</label>
                <input type="password" name="password">
            </div>
            <button type="submit">Registrar</button>
        </form>
    </div>
    <p style="font-weight: 300; margin-top: 2rem;">¿Ya tienes una cuenta?</p>
    <a href="/login"><button>Login</button></a>
</div>

<script src="/js/register.js"></script>