<div>
    <h1>Actualice su Contraseña</h1>
     {{#if user}}
      <p>Hola {{user.name}}, solicitaste cambiar la contraseña de la cuenta asociada a <strong>{{user.email}}.</strong></p>
      <p>A continuacion colocá una nueva contraseña.</p>

        {{!-- <form action="/reset-password" method="POST"> --}}
        <form id="formRestorePass">
            <input type="password" name="newPassword" placeholder="Nueva Contraseña" required>
            <input type="password" name="confirmPassword" placeholder="Confirmar Contraseña" required>
            <input type="hidden" name="token" value={{token}}>
            <input type="hidden" name="userId" value={{user.id}}>
            <button type="submit">Restablecer Contraseña</button>
        </form>
    {{else}}
        <p>Problemas al intentar mostrar los datos</p>
    {{/if}}
</div>
<script src="js/restorePassword.js"></script>